body {
        color: white; 
        font-family: Georgia, Times; padding-left:2em; 
        background-color:darkblue
 }
 
footer {
        color: blue; 
        text-align:center; 
        font-family: Georgia, Times; 
        padding-left:1em; 
        background-color: gray;
}

#container{
    padding: 10 10 10 10;
    background: #fff;
    
}
